@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: url('img/6240268.jpg') no-repeat;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: grid;
    text-align: center;
}

.container .title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    height: 10vh;
}

.container .title img {
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 0;
    left: 15vw;
}

.container .title h3 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.container .link {
    margin: 2vw auto;
    text-align: center;
    width: 100vw;
}

.container .link .a {
    margin: 0 auto;
    text-align: center;
    width: 70vw;
    height: auto;
}

.container .kotak .img .imgwa {
    width: 6vw;
    height: 5vw;
}

.container .kotak {
    border: 2px solid rgb(24, 24, 24);
    background: rgb(24, 24, 24);
    width: 55vw;
    height: 10vh;
    box-shadow: 5px 5px rgb(46, 46, 46);
    transition: 0.5s;
    display: inline-block;
    margin: 1vw auto;
}

.container .kotak .img img {
    width: 2vw;
    Height: 2vw;
}

.container .kotak:hover {
    border: 2px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px rgb(87, 87, 87);
    color: black;
}

.container .kotak .img:hover {
    transform: rotate(35deg);
    transition: 0.5s;
}

.container .kotak .tautan {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 0.5s;
    display: inline-block;
}

.container .kotak .tautan p {
    font-size: 1.5rem;
}

.container .kotak .tautan:hover {
    letter-spacing: 15px;
    transition: 0.5s;
}

.container .link .a .kotak .tautan .ig:hover {
    color: red;
}

.container .kotak img {
    width: 10vw;
    height: 10vw;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    text-align: center;
    bottom: 0;
}

@media only screen and (max-width:680px) {
    .container {
        min-height: 95vh;
        display: grid;
        text-align: center;
    }
    .container .title {
        margin: 5vh auto 0 auto;
        display: grid;
    }
    .container .title img {
        width: 30vw;
        height: 30vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    .container .title h1 {
        color: white;
        font-size: 1.5rem;
    }
    .container .title h3 {
        color: white;
        font-size: 1rem;
    }
    .container .link .a {
        width: 80vw;
        margin: 0 auto 2vh auto;
    }
    .container .link .a:hover {
        background: #f5f5f5;
    }
    .container .link .a .kotak {
        border: 2px solid rgb(24, 24, 24);
        background: rgb(24, 24, 24);
        width: 80vw;
        height: 8vh;
        box-shadow: 5px 5px rgb(46, 46, 46);
        transition: 0.5s;
        display: grid;
        grid-template-columns: 30vw 30vw;
        margin: 1vw auto 0 auto;
    }
    .container .link .a .kotak:hover {
        border: 2px solid rgb(255, 255, 255);
        background: rgba(218, 207, 201, 0.938);
        box-shadow: 10px 10px rgb(87, 87, 87);
        color: black;
    }
    .container .link .a .kotak .img {
        margin: auto auto;
    }
    .container .link .a .kotak .img img {
        width: 10vw;
        height: 10vw;
    }
    .container .kotak .img:hover {
        transform: rotate(40deg);
        transition: 0.5s;
    }
    .container .kotak .tautan {
        transition: 0.2s;
        margin: auto auto;
    }
    .container .kotak .tautan p {
        margin: auto auto;
        font-size: 1.0rem;
    }
    .container .kotak .tautan:hover {
        letter-spacing: 15px;
        transition: 0.8s;
    }
    .container .link .a .kotak .tautan .ig:hover {
        color: red;
    }
    .container .link .a .kotak .tautan .sama:hover {
        color: rgb(0, 99, 228);
    }
    .container .link .a .kotak .tautan .wa:hover {
        color: green;
    }
}